/* Neumorphic styles for the outer container */
.container3 {
  background: #f0f0f0;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff;
  padding: 20px;
  margin: 20px;
  height: 600px;
  /* Set a fixed height and enable scrolling */
  /* Adjust the height as needed */
  overflow: auto;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styles for inner elements without neumorphic effect */
.userContainer {
  padding: 20px;
  margin-bottom: 20px;
}

.userName {
  font-size: 20px;
  margin-bottom: 10px;
}

.userEmail {
  font-style: italic;
  color: #555;
  margin-bottom: 10px;
}

.complaintList,
.suggestionList {
  list-style: none;
  padding: 0;
}

.complaintItem,
.suggestionItem {
  background: #f0f0f0;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff;
  padding: 20px;
  margin: 10px 0;
}

.complaintTitle,
.suggestionTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.complaintDescription,
.suggestionDescription {
  color: #333;
  margin-bottom: 10px;
}

.complaintStatus,
.suggestionStatus {
  color: #007bff;
  margin-bottom: 10px;
}

.complaintId,
.suggestionId {
  color: #777;
}
