.container_attendence {
  max-width: 600px;
  margin: 0 auto;

  padding: 20px;
  margin-top: 100px;
  background-color: #f0f2f5;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
}

.container_attendence h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.container_attendence .form-group {
  margin-bottom: 15px;
}

.container_attendence .form-group label {
  font-weight: bold;
}

.container_attendence .form-group .form-control {
  width: 100%;
  padding: 12px;
  background-color: #f0f2f5;
  border: none;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff;
  transition: box-shadow 0.3s ease;
}

.container_attendence .form-group .form-control:focus {
  outline: none;
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
}

.container_attendence .form-group .form-check-input {
  margin-right: 5px;
  font-size: 25px;
}

.container_attendence .form-group .btn {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px #bfc3c7, -5px -5px 10px #ffffff;
  transition: box-shadow 0.3s ease;
}

.container_attendence .form-group .btn:hover {
  background-color: #0056b3;
  box-shadow: none;
}
.attendence_search {
  margin-top: 40px;
}
.red_attendence {
  color: red;
}
