.managerooms-container {
  width: 100%;
  padding: 0 10px; /* Add padding for better spacing */
}

.search-bar {
  margin-bottom: 20px;
  padding: 8px;
  width: calc(100% - 20px); /* Adjust width to fit within container */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto; /* Add horizontal scroll */
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Media query for small devices */
@media (max-width: 768px) {
  .managerooms-container {
    width: 100%;
    overflow-x: scroll; /* Add padding for better spacing */
  }
  .search-bar {
    width: calc(100% - 20px); /* Adjust width to fit within container */
    margin-right: 10px; /* Add margin for better spacing */
  }

  .user-table {
    overflow-x: auto; /* Add horizontal scroll */
  }
}
