/* myprofile.css */
/* Neumorphic Card Styles */
.neumorphic-cardp {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #f5f5f5;
  text-align: center;
  margin-bottom: 100px;
  padding: 16px;
}

.neumorphic-cardp:hover {
  transform: scale(1.05);
}

/* Heading Styles */
div.heading {
  font-size: 40px;
  font-weight: 500;
  color: #0911e4; /* Set your desired color */
}

/* List Styles */
.profile-details-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-details-list li {
  font-size: 14px;
  margin-bottom: 8px;
}

/* Bold Data Headings */
.profile-details-list li strong {
  font-weight: 700;
}
.fullname {
  text-transform: uppercase;
  color: red;
  font-size: 25px;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .neumorphic-cardp {
    width: 300px;
    min-height: 550px;

    transform: translateX(-200px);
  }
  .neumorphic-cardp:hover {
    transform: none;
  }
}
